<div class="row"></div>
<div class="row"></div>
<div class="container">
  <div class="row">
    {{#each authors}}
    <div class="row col s3 center-align">
      <div>
        <a href="/authors/{{this.id}}"><img src="{{this.portrait_url}}" class="responsive-img" alt="{{this.last_name }}"></a>
        <div class="lower">
          <a href="/authors/{{this.id}}"><h5>{{ this.first_name}}<span> </span>{{this.last_name}}</h5></a>
          <h6>{{this.biography}}</h6>
          <br><br>

        </div>

      </div>
    </div>
    {{/each}}
  </div>
  <br>
</div>
